
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #e1fafa;
  align-items: center;
  flex-wrap: wrap; 
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #1a1a1a;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  color: black;
  
}

.nav-links li a {
  color: rgb(18, 17, 17);
  text-decoration: none;
  font-family: 'Segoe UI', sans-serif;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #00C6A9;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background: #e1fafa;
  height: auto;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 48px;
  color: #1a1a1a;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.hero-text button {
  padding: 12px 24px;
  background: #00C6A9;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  mix-blend-mode: multiply;
}
.landing-image{
  width: 400px;
  height: 500px;
}


@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    padding: 15px 20px;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
  }

  .hero {
    flex-direction: column;
    padding: 40px 20px;
  }

  .hero-text {
    max-width: 100%;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .hero-image {
    margin-top: 20px;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
   
  }

  .nav-links {
    gap: 15px;

  }

  .hero {
    flex-direction: row;
    padding: 50px 40px;
  }

  .hero-text {
    max-width: 60%;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .hero-text p {
    font-size: 17px;
  }
}


@media screen and (min-width: 1440px) {
  .navbar {
    padding: 30px 100px;
  }

  .hero {
    padding: 80px 120px;
  }

  .hero-text h1 {
    font-size: 56px;
  }

  .hero-text p {
    font-size: 20px;
  }
}
